div.collapsable {
  div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    > button.toggle {
      border: 0;
      padding: 0;
      background-color: transparent;
      transition-duration: 250ms;
    }
  }
  &.collapsed {
    div.header {
      > button.toggle {
        transform: rotate(0);
      }
      &:hover {
        > button.toggle {
          transform: rotate(180deg);
        }
      }
    }
  }
  &.expanded {
    div.header {
      > button.toggle {
        transform: rotate(180deg);
      }
      &:hover {
        > button.toggle {
          transform: rotate(0);
        }
      }
    }
  }
}
