.card-header.cat {
  position: relative;
  text-align: center;
  img {
    width: 75px;
    border-radius: 100%;
    border: 2px solid #000000b5;
    box-shadow: 0 2px 4px #00000057;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -38.5px;
    margin-top: -53.5px;
    z-index: 9000;
  }
  h2 {
    margin: 10px;
  }
}